[submodule "QCBOR"]
	path = QCBOR
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "t_cose"]
	path = t_cose
	url = https://github.com/laurencelundblade/t_cose.git
[submodule "ctoken"]
	path = ctoken
	url = https://github.com/laurencelundblade/ctoken.git
